html, body {
    height: 100%;
    width: 100%;
  }
  #principal{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
  
  }
  #saludo{
    text-align: center;
    font-size: 2.5rem;
  }
  .color{
     background-color:rgb(197,228,231); 
  }
  #instrucciones{
    font-size: 1.7rem;
  }
  .cwhite{
    color:white;
  }