html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "container1"
    "container2"
    "container3"
    "container4"
    "container5"
    "container6"
    "container7"
    "container8"
    "container9"
    "container10"
    "container11"
    "container12";
   /* grid-template:
    "container1"60vh
    "container2"60vh
    "container3"60vh
    "container4"60vh
    "container5"60vh
    "container6"60vh
    "container7"60vh
    "container8"60vh
    "container9"60vh
    "container10"60vh
    "container11"60vh
    "container12"60vh/100vw;*/
}
#container1{
    grid-area:container1;
    border:1px solid red;
}
#container2{
    grid-area:container2;
    
}
#container3{
    grid-area:container3;
    
}
#container4{
    grid-area:container4;
    
}
#container5{
    grid-area:container5;
    
}
#container6{
    grid-area:container6;
    
}
#container7{
    grid-area:container7;

}
#container8{
    grid-area:container8;

}
#container9{
    grid-area:container9;

}
#container10{
    grid-area:container10;
}
#container11{
    grid-area:container11;
}
#container12{
    grid-area:container12;

}
.container_class{
    width:100%;
    height:100%;
}
/*
    - gris claro: #F6F6F6 
    - azul fuente: #363A41*/
.color1_class{
 background-color:#E3F2FB ;
}
.color2_class{
    background-color: #FDE1E6;
}
.color3_class{
    background-color:#D5D5E0 ;
    
 }
 .color4_class{
    background-color:#E3F2FB ;
   }
.color5_class{
       background-color: #FDE1E6;
}
.color6_class{
       background-color:#D5D5E0 ;
       
}
.color7_class{
        background-color:#E3F2FB ;
}
.color8_class{
        background-color: #FDE1E6;
 }
.color9_class{
        background-color:#D5D5E0 ;
           
}
.color10_class{
        background-color:#E3F2FB ;
}
.color11_class{
        background-color: #FDE1E6;
}
.color12_class{
        background-color:#D5D5E0 ;
               
}
   .color_text{
    color:#8A8A8A;
   }
/* diseño cards */
.container_class{
  width:296px;
  height:403px; 
  outline:solid red;
}
.container_img_label{
  width:264px;
  height:234px;
  outline:solid blue;
}
.container_img_label{
    margin-top:15px;
}
.container_img{
    width:226px;
    height:209px;
    outline:solid red;
}
.imagen{
    height:100%;
    width:100%;
    object-fit:contain;
    border: 1px solid green;
}
.container_label_class{
    width:100%;
}
.cuerpo{
    width:100%;
    height:100%;
}
.cuerpo1{
    width:100%;
    height:40px;
}
.cuerpo2{
    width:80%;
    height:40px;
}
.like{
    width:25px;
    height:25px;
 border:1px solid #CDD2DA;
}
.like_i{
    color:#CDD2DA;
}
.like_rojo{
    border:1px solid #F66D6E;
}
.like_i_rojo{
  color:#F66D6E;
}
.caja_mas_class{
    width:23px;
    height:25px;
    background-color: #39C7A5;
}
.caja_activa_class{
    width:72px;
    height:25px;
    background-color: #39C7A5;
}
/* Termina diseño de card*/